/**********************************/
/* Josh Comeau’s custom CSS reset */
/**********************************/

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p, li, figcaption {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/****************/
/* PAGE STYLING */
/****************/

.main-container {
  min-height: 100vh;

  display: grid;
  grid-template-rows: 1fr 8fr;
}

.header {
  background-color: wheat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-size: 4rem;
}

.main {
  background-color: lightyellow;
  padding: 2rem;

  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 1rem;
}

.library-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill minmax(300px, 1fr));
}