/**************/
/* FONTS FACE */
/**************/

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Italic.woff2') format('woff2'),
        url('./fonts/Inter-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Regular.woff2') format('woff2'),
        url('./fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('./fonts/Merriweather-LightItalic.woff2') format('woff2'),
        url('./fonts/Merriweather-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('./fonts/Merriweather-Light.woff2') format('woff2'),
        url('./fonts/Merriweather-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/**********************************/
/* Josh Comeau’s custom CSS reset */
/**********************************/

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p, li, figcaption {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/***************/
/* ROOT STYLES */
/***************/

:root {
  --header-bg-clr: #4B2E1E;
  --header-text-clr: #F5E9DC;
  --header-shadow-clr: #27180f;

  --main-bg-clr: #EAD7C5;

  --btn-add-book-bg-clr: #5A3A1B;
  --btn-add-book-hover-bg-clr: #6B4226;
  --btn-add-book-active-bg-clr: #7A4A2A;
  --btn-add-book-text-clr: #F4E7D3;

  --modal-bg-clr: #E6D3B3;
  --modal-border-clr: #6B4226;
  --btn-modal-bg-clr: #5A3A1B;
  --btn-modal-hover-bg-clr: #6B4226;
  --btn-modal-active-bg-clr: #7A4A2A;
  --btn-modal-text-clr: #F4E7D3;

  --book-container-bg-clr: #D6BFA3;
  --card-bg-clr: #E6D3B3;
  --card-border-clr: #6B4226;

  --btn-read-status-unread-bg-clr: #DC2626;
  --btn-read-status-unread-hover-bg-clr: #B91C1C;
  --btn-read-status-unread-active-bg-clr: #991B1B;
  --btn-read-status-unread-text-clr: #FFFFFF;
  --btn-read-status-unread-text-contrast-clr: #111111;

  --btn-read-status-read-bg-clr: #16A34A;
  --btn-read-status-read-hover-bg-clr: #15803D;
  --btn-read-status-read-active-bg-clr: #166534;
  --btn-read-status-read-text-clr: #FFFFFF;
  --btn-read-status-read-text-contrast-clr: #111111;

  --btn-remove-book-bg-clr: #DC2626;
  --btn-remove-book-hover-bg-clr: #B91C1C;
  --btn-remove-book-active-bg-clr: #991B1B;
  --btn-remove-book-border-clr: #F87171;
  --btn-remove-book-text-clr: #FFFFFF;
  --btn-remove-book-text-contrast-clr: #111111;

}

/****************/
/* PAGE STYLING */
/****************/

.main-container {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif; /* Default */

  display: grid;
  grid-template-rows: 1fr 8fr;
}

.header {
  position: relative;
  font-family: "Merriweather";
  background-color: var(--header-bg-clr);
  color: var(--header-text-clr);

  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-size: 2.5rem;
}

.header::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.5rem;
  height: 0.5rem;
  background: linear-gradient(to bottom, var(--header-shadow-clr), transparent);
}

.main {
  font-family: "Inter";
  background-color: var(--main-bg-clr);
  padding: 2rem;

  display: grid;
  grid-template-rows: min-content 1fr;
  row-gap: 1rem;
}

.btn-add-book {
  font-weight: 700;
  background-color: var(--btn-add-book-bg-clr);
  color: var(--btn-add-book-text-clr);
  border: none;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px rgba(60, 40, 20, 0.25);
  align-self: center;
  justify-self: center;
}

.btn-add-book:hover {
  background-color: var(--btn-add-book-hover-bg-clr);
  box-shadow: 0 4px 8px rgba(60, 40, 20, 0.35);
}

.btn-add-book:active {
  background-color: var(--btn-add-book-active-bg-clr);
  box-shadow: 0 4px 8px rgba(60, 40, 20, 0.35);
}

.books-container {
  background-color: var(--book-container-bg-clr);
  box-shadow: 0 0 4px 3px rgba(60, 40, 20, 0.25);
  padding: 2rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: min-content;
  gap: 2rem;
}

/* TEMP */
.book-card * {
  outline: 1px solid black;
}

.book-card {
  background-color: var(--card-bg-clr);
  border: 2px solid var(--card-border-clr);
  border-radius: 0.75rem;
  padding: 1rem;

  display: grid;
  grid-template-rows: auto auto 1fr auto;
  row-gap: 0.5rem;
  align-self: start;
}

.card-btn-container {
  display: flex;
  flex-direction: column;
}

.book-title {
  font-size: 1.25rem;
  font-weight: 700;
}

.book-author {
  font-size: 0.9rem;
  font-style: italic;
}

.book-pages {
  font-size: 0.9rem;
  font-weight: 700;
}

/**********************/
/* READ/UNREAD BUTTON */
/**********************/

/* Read/Unread button general style */
.btn-read-status {
  font-weight: 500;
  font-size: 0.9rem;

  border: none;
  border-radius: 0.5rem;
  padding: 0.1rem 0.5rem;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(60, 40, 20, 0.25);

  align-self: flex-start;
}

.btn-read-status:hover {
  box-shadow: 0 4px 8px rgba(60, 40, 20, 0.35);
}

.btn-read-status:active {
  box-shadow: 0 4px 8px rgba(60, 40, 20, 0.35);
}
/* ******************************** */

/* Read/Unread button status is Unread */
.btn-read-status-unread {
  background-color: var(--btn-read-status-unread-bg-clr);
  color: var(--btn-read-status-unread-text-clr);
}

.btn-read-status-unread:hover {
  background-color: var(--btn-read-status-unread-hover-bg-clr);
  color: var(--btn-read-status-unread-text-contrast-clr);
}

.btn-read-status-unread:active {
  background-color: var(--btn-read-status-unread-active-bg-clr);
  color: var(--btn-read-status-unread-text-contrast-clr);
}
/* **************************** */

/* Read/Unread button status is Read */
.btn-read-status-read {
  background-color: var(--btn-read-status-read-bg-clr);
  color: var(--btn-read-status-read-text-clr);
}

.btn-read-status-read:hover {
  background-color: var(--btn-read-status-read-hover-bg-clr);
  color: var(--btn-read-status-read-text-contrast-clr);
}

.btn-read-status-read:active {
  background-color: var(--btn-read-status-read-active-bg-clr);
  color: var(--btn-read-status-read-text-contrast-clr);
}
/* ************************** */

/**********************/
/* REMOVE BOOK BUTTON */
/**********************/

/* Remove Book button general style */
.btn-remove-book {
  font-weight: 500;
  font-size: 0.9rem;

  background-color: var(--btn-remove-book-bg-clr);
  color: var(--btn-remove-book-text-clr);
  border: 1px solid var(--btn-remove-book-border-clr);
  border-radius: 0.5rem;
  padding: 0.1rem 0.5rem;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(60, 40, 20, 0.25);
  
  align-self: flex-end;
}

.btn-remove-book:hover {
  background-color: var(--btn-remove-book-hover-bg-clr);
  color: var(--btn-remove-book-text-contrast-clr);
  box-shadow: 0 4px 8px rgba(60, 40, 20, 0.35);
}

.btn-remove-book:active {
  background-color: var(--btn-remove-book-active-bg-clr);
  color: var(--btn-remove-book-text-contrast-clr);
  box-shadow: 0 4px 8px rgba(60, 40, 20, 0.35);
}
/* ******************************** */

/********************/
/* DIALOG CONTAINER */
/********************/

.dialog-container {
  background-color: var(--modal-bg-clr);
  border: 2px solid var(--modal-border-clr);
  border-radius: 0.5rem;
}

.add-book-form {
  padding: 0.5rem 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add-book-form-description {
  font-family: "Merriweather";
  font-weight: 600;
  font-size: 1.25rem;
  padding: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.add-book-form-inputs-container {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 1.2rem 0.5rem;
}

.add-book-form-label {
  font-weight: 600;
  font-size: 1.1rem;
}

.add-book-form-input {
  border: none;
  border-radius: 0.25rem;

  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}

/* Hide the input spinner from the input type="number" */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-submit-add-book-form,
.btn-close-add-book-form {
  background-color: var(--btn-modal-bg-clr);
  color: var(--btn-modal-text-clr);
  border: none;
  border-radius: 0.5rem;
  padding: 0.25rem 0;
  font-weight: 600;
  width: 8rem;
  box-shadow: 0 2px 4px rgba(60, 40, 20, 0.25);

  align-self: center;
}

.btn-submit-add-book-form:hover,
.btn-close-add-book-form:hover {
  background-color: var(--btn-modal-hover-bg-clr);
  box-shadow: 0 4px 8px rgba(60, 40, 20, 0.35);
}

.btn-submit-add-book-form:active,
.btn-close-add-book-form:active {
  background-color: var(--btn-modal-active-bg-clr);
  box-shadow: 0 4px 8px rgba(60, 40, 20, 0.35);
}